* {
    margin: 0;
    padding: 0;
    list-style: none; }

body, html {
    width: 100%;
    height: 100%; }

body {
    background: #CDCDCD; }

header {
    height: 50px;
    width: 100%;
    background: rgba(47, 47, 47, 0.98);
    display: flex;
    justify-content: center; }
header .formdate {
    width: 53%;
    height: 100%;
    display: flex;
    justify-content: space-between; }
header .formdate p {
    width: 100px;
    line-height: 50px;
    color: #DDD;
    font-size: 24px; }
header .formdate>input:first-of-type {
    width: 60%;
    height: 24px;
    padding-left: 8px;
    margin-top: 12px;
    border-radius: 5px;
    box-shadow: 0 1px 0 rgba(255, 255, 255, 0.24), 0 1px 6px rgba(0, 0, 0, 0.45) inset;
    border: none; }
header .formdate input:focus {
    outline: none; }
.state{
    width: 53%;
    margin: 0 auto;
    margin-top: 10px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
.state li{
    line-height: 25px;
    border: 1px solid #aaa;
    box-sizing: border-box;
    margin-left: 10px;
    border-radius: 5px;
    cursor: pointer;
}
.state li span{
    display: block;
    height: 100%;
    border-radius: 5px;
    padding-left: 6px;
    padding-right: 6px;
}
.list-box{
    width: 53%;
    margin: 0 auto;
}
.list-box li{
    width: 100%;
    margin: 10px auto;
    background: #fff;
    height: 35px;
    border-radius: 5px;
    box-shadow: 0 1px 0 rgba(255, 255, 255, 0.24), 0 1px 6px rgba(0, 0, 0, 0.45) inset;
}
.list-box span{
    display: block;
    width:15px;
    height: 15px;
    border-radius: 50%;
    border: 2px solid #aaa;
    margin-top: 8px;
    margin-left: 6px;
    float: left;
    cursor: pointer;
}
.list-box p{
    line-height: 35px;
    margin-left: 10px;
    float: left;
}
.list-box li .del{
    float: right;
    margin-right: 6px;
    line-height: 35px;
    cursor: pointer;
}
section>div{
    width: 53%;
    margin: 0 auto;
    line-height: 30px;
}
.update input{
    width: 99%;
    height: 34px;
    border-radius: 5px;
    margin: 0;padding: 0;
    border: none;
    outline: none;
    padding-left: 6px;
}
.check{
    color:#DDDDDD;
    background: #323232;
}
.red{
    background: #323232;
}